<form [formGroup]="form" (ngSubmit)="placeOrder()">
  <table>
    <tr>
      <td>Name: </td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Email: </td>
      <td><input type="text" formControlName="email"></td>
      <td><button type="button" (click)="addInput()">Add</button></td>
    </tr>
  </table>
  <div>
    <tbody formArrayName="listOfItems">
      <tr *ngIf="lineItemFormArray.value != 0">
        <td>Item: </td>
        <td>Quantity: </td>
        <td>Price: </td>
      </tr>
      <tr *ngFor="let item of lineItemFormArray.controls; let i=index" formGroupName="{{i}}">
        <td><input type="text" formControlName="name"></td>
        <td><input type="number" formControlName="quantity"></td>
        <td><input type="number" formControlName="price"></td>
        <td><button type="button" (click)="deleteLineItem(i)">Delete</button></td>
      </tr>
    </tbody>
  </div>
  <button type="submit">Place Order</button>
</form>
